.filter-section {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.chart-container {
    max-width: 800px;
    margin: 20px auto;
}

.table-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
select {
    font-size: 14px !important; /* Default font size for options */
    padding: 8px;
}

/* Styling the placeholder option */
select option[disabled] {
    color: #999; /* Placeholder color */
    font-size: 14px; /* Placeholder font size */
}